In [3]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import requests
import json

In [4]:
r = requests.get("https://apikomore.mci.ba/fakultet/graph_data/?start=2022-03-24&end=2022-04-28&group_id=7&apikey=skriptni-jezici-2022") 
res = json.loads(r.text)

In [5]:
df = pd.DataFrame(res['temperatures'])
df

     temp                    timestamp
0     5.3  2022-03-23T22:00:54.593000Z
1     5.3  2022-03-23T23:00:54.593000Z
2     5.4  2022-03-24T00:00:54.593000Z
3     5.2  2022-03-24T01:00:54.593000Z
4     5.3  2022-03-24T02:00:54.593000Z
..    ...                          ...
858   5.3  2022-04-28T17:00:13.764000Z
859   5.3  2022-04-28T18:00:13.764000Z
860   5.4  2022-04-28T19:00:13.761000Z
861   5.4  2022-04-28T20:00:13.764000Z
862   5.4  2022-04-28T21:00:13.761000Z

[863 rows x 2 columns]

In [6]:
ax, ay  = [],[]
df["temp"] = df['temp'].astype(int)
df["timestamp"] = pd.to_datetime(df["timestamp"])
ay = df['temp']
ax = df['timestamp']

In [ ]:
plt.style.use('Solarize_Light2')
df.plot(x='Vrijeme', y='Temperatura', kind='line',color='#FF33F6')
plt.plot(ax , ay, color='#FF33E9',linewidth = '1')
plt.axhline(2.5, color='orange',ls=':')
plt.xlabel('Vrijeme')
plt.ylabel('Temperatura')
plt.title('Temperatura komore')
plt.show()